<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <title>Chat App</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="nav d-flex mb-1">
        <a class="nav-link disabled mr-auto" href="#" tabindex="-1" aria-disabled="true">Logo</a>
        <% if(user) { %>
        <a class="nav-link" href="/profile">Profile</a>
        <a class="nav-link" href="/logout">Log out</a>
        <% }else{ %>
        <a class="nav-link" href="/login">Log in</a>
        <a class="nav-link" href="/signup">Sign up</a>
        <% } %>
    </nav>

    <!-- Login form -->
    <%- body %>

</body>

</html>