<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
    <title>Chat App</title>
</head>

<body>
    <!-- Navigation -->
    <nav class="nav d-flex mb-1">
        <a class="nav-link disabled mr-auto" href="#" tabindex="-1" aria-disabled="true">Logo</a>
        <a class="nav-link" href="#">Create Room</a>
    </nav>

    <!-- Login form -->
    <%- body %>

    <!-- Footer -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/chat.js"></script>
</body>

</html>